@font-face {
    font-family: GryphonRock ;
    src: url(../fuentes/Gryphon\ Rock\ v2\ TrueType.ttf);
}


@font-face {
    font-family: Kin668;
    src: url(../fuentes/KIN668.TTF);
}


@font-face {
    font-family: TheStudentsTeacher;
    src: url(../fuentes/TheStudentsTeacher-Regular.ttf);
}

